/*** Law - Video Development ID: 5609  ***/
.developmentVideo iframe {
    width: 100vw;
    height: calc(100vw/1.9);
}

.developmentVideo .card-img-overlay h2 {
    font-weight: 500;
}

.developmentVideo .card-img-overlay p {
    font-weight: 500;
}


/* .developmentVideo .card-img-overlay .container {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}  */
