/*** Law - Video Development ID: 5609  ***/

.developmentVideo iframe {
    width: 100vw;
    height: calc(100vw/1.9);
}

.developmentVideo .card-img-overlay h2 {
    font-weight: 500;
}

.developmentVideo .card-img-overlay p {
    font-weight: 500;
}


@media screen and (max-width: 991.99px) {

    .developmentVideo .card-img-overlay {
        padding: 0;
        position: unset;
    }

    .developmentVideo .card-img-overlay .card-header {
        margin: 0!important;
        padding: 0!important;
    }

    .developmentVideo .card-img-overlay .container {
        margin-top: 0!important;
        padding-top: 0!important;
    }

    .developmentVideo .card-img-overlay .card-body .text-white {
        color: #000000!important;
    }
}



/*** Law - Video Autoplay ID: 5610  ***/

.autoplay iframe {
    width: 100vw;
    height: calc(100vw/1.9);
}

.autoplay .card-img-overlay h2 {
    font-weight: 500;
}

.autoplay .card-img-overlay p {
    font-weight: 500;
}


@media screen and (max-width: 991.99px) {

    .autoplay .card-img-overlay {
        padding: 0;
        position: unset;
    }

    .autoplay .card-img-overlay .card-header {
        margin: 0!important;
        padding: 0!important;
    }

    .autoplay .card-img-overlay .container {
        margin-top: 0!important;
        padding-top: 0!important;
    }

    .autoplay .card-img-overlay .card-body .text-white {
        color: #000000!important;
    }
}

 